@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.navbar {
	height: 70px;
	border-bottom: 3px solid black;
	display: flex;
	justify-content: center;
	background-color: #daedf3;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.logo {
	height: 2.5rem;
	display: inline-block;
}

ul {
	list-style-type: none;
	a {
		font-family: 'Hachi Maru Pop', cursive;
		color: var(--text-blue);
		text-decoration: none;
		padding: 6px;
		font-size: 1.3rem;
	}

	a:hover {
		border-top: 3px solid white;
		border-bottom: 3px solid black;
		border-radius: 999px;
	}
}

.nav_list {
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 900px;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@media screen and (max-width: 499px) {
	ul a {
		font-size: 0.9rem;
		border-bottom: 1px double black;
		border-right: 1px double black;
	}
}
